.text-clip {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis;
}

.row {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  @include grid-col(2);
  @include grid-col(3);
  @include grid-col(4);
  @include grid-col(5);
  &__left {
    display: flex;
    justify-content: flex-start;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
  &__center {
    display: flex;
    justify-content: center;
  }
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.tac {
  text-align: center;
}