.header {
  padding-top: 21px;
  padding-bottom: 28px;
  color: $dark;
  font-weight: 700;
  border-bottom: 1px solid $dark;
  @include font-settings(14, 17);
  @include media(1200) {
    padding: 37px 0px;
  }
  @include media(540) {
    padding: 26px 0px;
  }
  &__main {
    color: $light;
    border-bottom: none;
    position: absolute;
    width: 100%;
    z-index: 98;
    .header {
      &__lang-list {
        background: $dark-light;
        border-color: $dark-light;
      }
      &__desktop-menu {
        margin-left: 203px;
        @include media(1200) {
          margin-left: 0px;
        }
      }
    }
  }
  &__inner {
    flex-direction: row;
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  &__burger {
    position: relative;
    @include size(45, 28);
    display: none;
    flex-direction: column;
    z-index: 100;
    @include media(1200) {
      display: flex;
    }
    @include media(540) {
      @include size(29, 18);
    }
    span {
      margin: auto 0;
      transform-origin: left;
    }
    &:before,
    &:after {
      position: absolute;
    }
    &:before {
      top: 0px;
    }
    &:after {
      bottom: 0px;
    }
    span,
    &:before,
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background: currentColor;
      border-radius: 2px;
      @include transition;
      @include media(540) {
        height: 2px;
      }
    }
    &.is-active {
      color: $dark;
      span {
        transform: scaleX(0);
      }
      &:before,
      &:after {

      }
      &:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &:after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
  &__logo {
    margin-right: 52px;
    @include media(1200) {
      display: none;
    }
  }
  &__desktop-menu {
    display: flex;
    @include gap(column, 52px);
    @include media(1200) {
      display: none;
    }
  }
  &__link {
    margin-right: 44px;
    margin-top: 10px;
    @include media(1200) {
      margin-top: 0px;
      align-self: center;
    }
    @include media(540) {
      margin: 0px;
    }
  }
  &__social {
    margin-right: 18px;
    @include gap(column, 14px);
    align-self: flex-start;
    margin-top: 15px;
    .pseudo-icon {
      @include size(20, 21);
    }
    @include media(1200) {
      display: none;
    }
  }
  &__dropdown {
    margin-top: 16px;
    margin-left: 12px;
    align-self: flex-start;
    position: relative;
    @include media(1200) {
      margin-top: 0px;
    }
    @include media(540) {
      display: none;
    }
    .dropdown,
    .wpml-ls-legacy-dropdown {
      width: auto;
      &__inner,
      .wpml-ls-current-language {
        @include hover {
          .icon,
          .js-wpml-ls-item-toggle:after {
            transform: translateY(-3px) scaleY(-1);
          }
          .dropdown__lang-list,
          .wpml-ls-sub-menu {
            transform: translateY(100%) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            .header__lang,
            .wpml-ls-item a {
              pointer-events: auto;
            }
          }
        }
      }
      &__lang-list,
      .wpml-ls-sub-menu {
        $padding: 15px;
        padding: 12px $padding;
        border-radius: 10px;
        background: $light;
        border: 1px solid $dark;
        position: absolute;
        bottom: -5px;
        top: auto;
        right: auto;
        transform: translateY(100%) scale(0);
        visibility: hidden;
        pointer-events: none;
        left: -$padding;
        @include transition;
        opacity: 0;
        color: $dark;
      }
      &__lang,
      .wpml-ls-item a {
        pointer-events: none;
        background: $transparent;
        border: none;
        color: inherit;
        padding: 0px;
        border: none;
        background: $transparent;
      }
      &__lang-active,
      .wpml-ls-item-toggle {
        display: flex;
        align-items: center;
        pointer-events: auto;
        @include gap(column, 4px);
        background: $transparent !important;
        color: inherit;
        @include media(1200) {
          color: $primary;
        }
        .icon,
        &:after {
          transform: translateY(3px);
          @include transition;
          position: static;
        }
      }
      &__link,
      &__lang,
      .wpml-ls-item,
      .wpml-ls-item a {
        text-transform: uppercase;
        @include hover-focus-link;
      }
    }
  }
  &__modal {
    color: $dark;
    max-width: 320px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    background: $light;
    border: 1px solid $dark;
    padding: 100px 35px;
    height: 100vh;
    width: 100%;
    transform-origin: left top;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;
    @include transition($time-function: ease-out);
    &.is-open {
      transform: scale(1);
    }
  }
  &__mobile-menu {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    @include gap(row, 15px);
  }
  &__mobile-lang {
    margin-top: 45px;
    display: flex;
    @include gap(column, 8px);
    .header__lang {
      pointer-events: auto;
    }
  }
  &__mobile-item {
    &:not(:last-child) {
      border-right: 1px solid $dark;
      padding-right: 8px;
    }
  }
}