.hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: $light;
  height: 880px;
  background: $dark-light;
  margin-bottom: 60px;
  @include media(1200) {
    height: 1133px;
    margin-bottom: 0%;
  }
  @include media(540) {
    height: 558px;
  }
  &__slider {
    .slick-track {
      display: flex;
    }
    &.slick-slider {
      margin-bottom: 0px;
    }
  }
  &__slide {
    position: relative;
    float: none;
    height: auto;
    //@include transition;
    //transform: scaleX(0);
    &.slick-active {
      //transform: scaleX(1);
      opacity: 1;
    }
  }
  &__slide-bg {
    z-index: 0;
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include media(1200) {
      height: 100%;
    }
  }
  &__slide:before {
    content: '';
    z-index: 1;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &__content {
    width: 100%;
  }
  &__content-inner {
    display: flex;
  }
  &__title-wrapper {
    margin-top: auto;
    margin-bottom: 23px;
  }
  &__title-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    &:after {
      content: '';
      @include size(82, 5);
      background: $primary;
    }
  }
  &__title-number {
    @include font-settings(20, 24);
    font-weight: 700;
    @include media(540) {
      font-size: 12px;
    }
  }
  &__title {
    max-width: 800px;
    @include media(767) {
      @include font-settings(24, 28);
    }
  }
  &__button-wrapper {
    margin-top: 7px;
    display: flex;
    align-items: center;
    @include gap(column, 85px);
    @include media(540) {
      margin-top: 33px;
      flex-direction: row-reverse;
      @include gap(column, 39px);
    }
  }
  &__link {
    text-transform: uppercase;
    color: $primary;
    position: relative;
    font-weight: 700;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0px;
      left: 0px;
      background: currentColor;
      transition: inherit;
      transform-origin: left;
    }
    @include hover-focus {
      &:before {
        transform: scaleX(0);
      }
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    left: 0px;
  }
  &__padding-top {
    padding-top: 161px;
    @include media(540) {
      padding-top: 89px;
    }
  }
  &__padding-bottom {
    padding-bottom: 88px;
    @include media(540) {
      padding-bottom: 73px;
    }
  }
  &__upper {
    z-index: 2;
  }
  &__container-left {
    padding-left: 135px;
    @include media(1920) {
      padding-left: calc((100vw - #{$desktop-width}) / 2);
    }
    @include media(1730) {
      padding-left: $desktop-padding;
    }
    @include media(540) {
      padding-left: $mobile-padding;
    }
  }
  &__container-right {
    padding-right: 135px;
    @include media(1920) {
      padding-right: calc((100vw - #{$desktop-width}) / 2);
    }
    @include media(1730) {
      padding-right: $desktop-padding;
    }
    @include media(540) {
      padding-right: $mobile-padding;
    }
  }
  &__logo-wrapper {
    margin-top: 6px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &__padding,
  &__row,
  &__content-inner,
  &__slider,
  &__slider .slick-list,
  &__slider .slick-track{
    height: 100%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__sub-title {
    margin-top: 20px;
    text-transform: uppercase;
    max-width: 360px;
    @include media(540) {
      font-size: 14px;
      max-width: 274px;
    }
  }
  &__counter-wrapper {
    display: flex;
    @include gap(column, 45px);
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    &:before {
      content: '';
      display: block;
      @include size(35, 18);
      background: $primary;
      transform: skew(-10deg);
    }
    @include media(540) {
      display: none;
    }
  }
  &__counter-block {
    width: 3em;
    @include font-settings(20, 23);
    font-weight: 700;
    .slick-track {
      position: absolute;
      top: 47px;
    }
  }
  &__count {
    text-align: center;
    &:not(:last-child) {
      padding-bottom: 16px;
    }
    &.slick-current {
      pointer-events: none;
      span {
        transform: scale(2);
      }
    }
    span {
      cursor: pointer;
      display: block;
      @include transition;
      @include hover {
        color: $primary;
        text-align: center;
      }
    }
  }
  &__dots-wrapper {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
}
