.row {
  display: flex;
  justify-content: space-between;
  @include media(1200) {
    flex-direction: column;
  }
  --gap: 75px;
  &__small-gap {
    --gap: 20px;
  }
  &__item {
    max-width: calc((100% - var(--gap)) / 2);
    width: 100%;
    @include media(1200) {
      max-width: 100%;
    }
  }
  &__item-right-container {
    padding-right: calc(calc((100vw - var(--gap)) / 2) - ((#{$container} - var(--gap)) / 2));
    @include min-media(1921) {
      padding-right: 0px;
      width: 783.5px;
    }
    & > * {
      margin-right: $desktop-padding;
    }
  }
}