.button {
  $border: 2px solid $primary;
  padding: 17px 40px;
  background: $primary;
  border: $border;
  color: $light;
  text-transform: uppercase;
  @include font-settings(14, 24);
  font-weight: 700;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  @include media(540) {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 12px;
  }
  @include hover-focus {
    background: $transparent;
    color: $primary;
    border: $border;
  }
  .pseudo-icon {
    margin-left: 20px;
    @include size(42);
  }
  &__second {
    padding: 15px 53px;
    @include font-settings(14, 24);
  }
  &__dark {
    background: $dark;
    border-color: $dark;
    color: $light;
    @include hover {
      color: $dark;
      border-color: $dark;
    }
  }
}
