.form {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    margin-bottom: 3px;
  }
  &__button {
    margin-top: 21px;
  }
  .screen-reader-response,
  .wpcf7-not-valid-tip {
    display: none;
  }
  .wpcf7-response-output {
    @include font-settings(12, 14);
    color: red;
    margin-top: 5px;
  }
}