.form {
  &__input {
    margin-bottom: 3px;
  }
  &__button {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }
  .screen-reader-response,
  .wpcf7-not-valid-tip {
    display: none;
  }
  .wpcf7-response-output {
    @include font-settings(12, 14);
    color: red;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    margin-top: 5px;
  }
}