.review-item {
  padding: 38px 50px;
  display: flex;
  @include gap(column, 28px);
  &.slick-slide {
    display: flex;
  }
  @include media(540) {
    padding: 19px 22px 30px;
    flex-direction: column;
  }
  &__card-title {
    margin-bottom: 4px;
  }
  &__image {
    border-radius: 10px;
    @include media(540) {
      margin-bottom: 17px;
    }
  }
  &__bottom {
    margin-top: 22px;
    display: flex;
    @include gap(column, 8px)
  }
}