.step {
  max-width: 539px;
  &__top {
    position: relative;
    max-width: 279px;
    --before-height: 11px;
    padding-bottom: calc(18px + var(--before-height));
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: var(--before-height);
      background: $dark;
      bottom: 0px;
      left: 0px;
    }
    @include media(540) {
      max-width: 179px;
    }
  }
  &__number-wrapper {
    position: relative;
    max-width: 130px;
  }
  &__number {
    color: $second-dark;
  }
  &__icon-wrapper {
    position: absolute;
    right: 0px;
    bottom: 18px;
    @include media(1200) {
      display: none;
    }
  }
  &__title {
    max-width: 199px;
  }
  &__text {
    margin-top: 19px;
  }
  &__button {
    margin-top: 27px;
    @include media(1200) {
      margin-top: 48px;
    }
    @include media(540) {
      margin-top: 26px;
    }
  }
}