
@mixin transition($property: all, $speed: $speed, $time-function: $time-function) {
  transition-property: $property;
  transition-duration: $speed;
  transition-timing-function: $time-function;
}

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

/*=======================START-MEDIA=====================*/
@mixin media($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; } }

@mixin min-media($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; } }

/*=======================END-MEDIA=====================*/
//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

// font size

@mixin css-lock($min-size: 1, $max-size: 1.4, $min-width: 20, $max-width: 100, $property: font-size, $unit: px) {
  #{$property}: #{$max-size}#{$unit};
  #{$property}: calc(#{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
  @media (max-width: #{$min-width}#{$unit}) {
    #{$property}: #{$min-size}#{$unit}; }
  @media (min-width: #{$max-width}#{$unit}) {
    #{$property}: #{$max-size}#{$unit}; } }

@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@mixin font-settings($font-size, $light-height, $round-light-height: 2) {
  font-size: $font-size + px;
  line-height: decimal-round($light-height / $font-size, $round-light-height);
}

// end font size


/* media breakpoint mixin */
@mixin media-breakpoint-up($name) {
  @if map_has_key($breakpoint, $name) {
    @media (min-width: map_get($breakpoint, $name)) {
      @content;
    }
  } @else {
    @media (min-width: $name) {
      @content;
    }
  }
}

@mixin size($width, $height: $width) {
  width: $width + px;
  height: $height + px;
}


// fonts
@mixin font($weight, $style, $fileName, $folderName, $fontName: $folderName) {
  @font-face {
    font-family: '#{$fontName}';
    font-display: swap;
    src: url("../fonts/#{$folderName}/#{$fileName}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// hover
@mixin hover($properties: all, $speed: $speed, $time-function: $time-function) {
  transition-timing-function: $time-function;
  transition-duration: $speed;
  transition-property: $properties;
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

// hover and focus for link
@mixin hover-focus-link($color: $primary) {
  @include hover {
    color: $color;
  }
  &:focus {
    color: $color;
  }
}

// hover and focus for property
@mixin hover-focus {
  @include hover {
    @content;
  }
  &:focus {
    @content;
  }
}

// gap
@mixin gap($property, $value) {
  @if $property == column {
    @supports (column-gap: $value) {
      column-gap: $value;
    }
    @supports not (column-gap: $value) {
      margin-right: calc( 0px - (#{$value} / 2));
      margin-left: calc( 0px - (#{$value} / 2));
      & > * {
        margin-right: calc(#{$value} / 2);
        margin-left: calc(#{$value} / 2);
      }
    }
  } @else if $property == row {
    @supports (row-gap: $value) {
      row-gap: $value;
    }
    @supports not (row-gap: $value) {
      & {
        margin-top: -$value;
      }
      & > * {
        margin-top: $value;
      }
    }
  } @else if $property == gap {
    @supports (gap: $value) {
      gap: $value;
    }
    @supports not (gap: $value) {
      margin-right: calc(0px - (#{$value} / 2));
      margin-left: calc(0px - (#{$value} / 2));
      margin-top: -$value;
      & > * {
        margin-right: calc(#{$value} / 2);
        margin-left: calc(#{$value} / 2);
        margin-top: $value;
      }
    }
  }
}

// grid
@mixin grid-col($column) {
  &__col-#{$column} {
    grid-template-columns: repeat(#{$column}, 1fr);
  }
}

// flex-basis
@mixin flex-template($item, $gap) {
  flex-basis: calc((100% - #{$item - 1} * #{$gap}) / #{$item});
}

@mixin line-clamp($clamp, $height: none) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: $height;
  overflow: hidden;
}